<h1>view_helper_test</h1>

<br><%= number_field :book, :isbn %></br>
<br><%= text_field :book, :isbn %></br>
<%= radio_button :user, :color, "red" %>赤
<%= radio_button :user, :color, "blue" %>青
<br><%= check_box :book, :cd, {}, 0, 1 %></br>
<br><%= link_to 'Back', books_path %></br>
<br><%= text_area :book, :memo %></br>
<br><%= select :user, :address, ["出雲市","松江市"] %></br>
<br><%= collection_select :user, :like, Book.all, :id, :title %></br>
<br><%= image_tag 'i.JPG' %></br>
